@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Nunito&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    background-color: #edeef0;
}
.logo{
    font-size: 5em;
    font-weight: 700;
    color: #f05136;
}
nav ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
}
nav ul li{
margin: 0 20px;
}
.nav-link{
    font-size: 2.5em;
    text-decoration: none;
    cursor: pointer;
}
.nav-link:hover{
    color: #f05136;
}
#home{
    background-color: black;
    color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header div p {
    font-size: 2.5em;
    font-weight: 200;
}
h1,h3,h4 {
    font-weight: 700;
}
h1{
    font-size: 5em;
}
h2{
    font-weight: 500;
font-size: 4em;
}
h3{
font-size:2.5em ;
}
h4{
 font-size: 2em;   
}
.link-button{
    text-decoration: none;
    text-align: center;
    background-color: #f05136;
    cursor: pointer;
    font-weight: 100px;
    letter-spacing: 0.5px;
    color: white;
    font-size: 1.8em;
    padding: 10px;
    border-radius: 10%;
    border-color: black;
}
.link-button:hover{
    color: white;
}
#bio img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 100px;
}
#bio p{
    font-size: 1.5em;
}
#bio{
    display: flex;
    justify-content: center;
    align-items: center;
}
#bio article *{
    margin: 20px;
}
.break{
    display: block;
}
#portfolio{
    background: url(https://i1.faceprep.in/ProGrad/portfolio-background.svg);
    background-color: black;
    color: white;
}
#portfolio,
#skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
#portfolio h3,hr,p{
    margin-bottom: 20px;
}
#portfolio p{
    font-size: 1.5em;
}
hr{
    width: 200px;
}
#portfolio div {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    width: 100%;
}
#portfolio div article{
    background-color: white;
    color: black;
    height: 180px;
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
}
#portfolio div article p{
    padding: 10px;
}
#skills-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#skills-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#skils ul{
list-style: none;
}
#skills ul li{
    margin: 7px 0;
}
progress[value]{
   height: 7px;
   width: 250px;
   -webkit-appearance: none;
}
progress[value]::-webkit-progress-bar{
    background-color: gray;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.25 inset);
}
::-webkit-progress-value{
    background-color:#f05136;
}
#skills ul{
    font-size: 1.5em;
    text-decoration: none;
}
.input{
    line-height: 1.5em;
    height: 15px;
    width: 320px;
}
#contact{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}
.input{
line-height: 2em;
widows: 250px;
border-radius: 3px;
background-color: black;
margin: 20px 0;
}
 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact form input:last-child{
    margin-top: 20px;
}
footer{
    background-color: black;
}



